{%- extends "layout.html" -%}

{% block title %}{{ title }}{% endblock %}

{% block content -%}
    <main role="main">
        <div class="container">
            <div class="row row-content">
                <div class="col-sm-12">
                    <h2>Welcome to iPrompt, the interactive prompt app.</h2>
                    <h3>This is the landing page. There's nothing much here to see... because its still a prototype...</h3>
                </div>
            </div>
        </div>
    </main>
{%- endblock %}