{%- extends "layout.html" -%}

{% block title %}{{ title }}{% endblock %}

{% block content -%}
    <main role="main">
        <div class="container">
            <div class="row row-content">
                <div class="col-sm-12">
                    <h2>Welcome to iPrompt, the interactive prompt app.</h2>
                    <h3>This is the landing page. There's nothing much here to see... because its still a prototype...</h3>
                </div>
                <div class="col-sm-12">
                    <h2>Instructions</h2>
                    <hr>
                    <div class="col-sm-4">
                        <h3>1. Add iPrompt's number to your contact list</h3>
                        <img src="{{ url_for('static', filename='img/step01.png') }}" class="img-responsive" alt="Step 1">
                    </div>
                    <div class="col-sm-4" style="height: 100%">
                        <h3>2. Pick a letter choice from the question</h3>
                        <img src="{{ url_for('static', filename='img/step02.png') }}" class="img-responsive" alt="Step 2">
                    </div>
                    <div class="col-sm-4">
                        <h3>3. Text your choice to iPrompt</h3>
                        <img src="{{ url_for('static', filename='img/step03.png') }}" class="img-responsive" alt="Step 3">
                    </div>
                </div>
            </div>
        </div>
    </main>
{%- endblock %}